.main-advantages

	&__cont
		padding: 90px 0 100px

	&__title
		margin-bottom: 50px

.advantages-list
	display: flex
	flex-wrap: wrap
	margin: 0 0 -55px -100px

	&__item
		width: calc((100% - 100px * 4) / 4)
		margin: 0 0 55px 100px

.advantage

	&__img

		img
			display: block

		&:not(:last-child)
			margin-bottom: 30px

	&__title

		&:not(:last-child)
			margin-bottom: 15px

	&__text
		font-size: 14px
		color: #A6A7B1
		line-height: calc(26 / 14)