html(lang="ru")
	head
		meta(charset="utf-8")
		title Вакансии
		include inc/head.pug
		include inc/css.pug
	body.inner.loading
		include inc/header.pug
		main#content
			.inner-content
				.inner-content__title
					.wrapper
						.title-block
							.title-block__crumbs
								.bread-crumbs
									a.bread-crumbs__link(href="#") Главная
									span.bread-crumbs__this Вакансии
							.title-block__title
								h1 Вакансии
			
				.inner-content__content
					.wrapper
						.vacancy
							.vacancy__list
								.vacancy-one
									header.vacancy-one__title 
										span.vacancy-one__title-text Водитель электропогрузчика
										button.vacancy-one__title-btn
									main.vacancy-one__body
										.vacancy-desc
											.vacancy-desc__item
												.vacancy-desc__item-title Уровень зарплаты
												.vacancy-desc__item-text от 40 000 до 100 000 Р
											.vacancy-desc__item
												.vacancy-desc__item-title Город
												.vacancy-desc__item-text Челябинск
											.vacancy-desc__item
												.vacancy-desc__item-title Тип занятости
												.vacancy-desc__item-text Полный рабочий день
										.vacancy-text
											.text-page
												p «Склад готовой продукции» входит структуру подразделения "производство".
												p Цель должности: своевременная отгрузка только качественной продукции в нужном ассортименте и объеме, в установленный период, к установленному времени. 
												br
												h4(style="color: #8D909D") Основные обязанности:
												ol
													li Своевременное и качественное проведение погрузо-разгрузочных работ;
													li Прием, перемещение, складирование готовой продукции и других товарно-материальных ценностей;
													li Обеспечение сохранности готовой продукции по качеству и количеству;
													li Поддержание электропогрузчика в исправном состоянии;
													li Обеспечение соблюдения техники безопасности и внутренних регламентов Компании на складе;
													li Обеспечение чистоты и порядка на складе;
													li Взаимодействие с сотрудниками других подразделений.
												br
												h4(style="color: #8D909D") Условия:
												ul
													li Место работы-современно оборудованный склад
													li Достойная оплата труда, без задержек;
													li Оплачиваемая стажировка;
													li График работы: сменный, 2/2 с 8.00 до 20.00, высокая интенсивность труда
													li Работа в успешной, финансово-стабильной компании;
													li Дружный, активный, молодой коллектив;
													li Официальное трудоустройство;
													li Развитая корпоративная культура
													li Профессиональное  обучение и развитие;
													li Скидки на продукцию Компании;
													li Предоставление специальной одежды.
												br
												h4(style="color: #8D909D") Требования:
												ul
													li Опыт работы от 6 месяцев;
													li Обязательно наличие удостоверения на право управления автопогрузчиком.
											.vacancy-text__notice
												.vacancy-notice Если Вас заинтересовала данная вакансия, отправьте свое резюме с указанием названия вакансии на адрес: 
													a(href="mailto:")  rabota74@mail.ru
								.vacancy-one
									header.vacancy-one__title
										span.vacancy-one__title-text Водитель электропогрузчика
										button.vacancy-one__title-btn
									main.vacancy-one__body
										.vacancy-desc
											.vacancy-desc__item
												.vacancy-desc__item-title Уровень зарплаты
												.vacancy-desc__item-text от 40 000 до 100 000 Р
											.vacancy-desc__item
												.vacancy-desc__item-title Город
												.vacancy-desc__item-text Челябинск
											.vacancy-desc__item
												.vacancy-desc__item-title Тип занятости
												.vacancy-desc__item-text Полный рабочий день
										.vacancy-text
											.text-page
												p «Склад готовой продукции» входит структуру подразделения "производство".
												p Цель должности: своевременная отгрузка только качественной продукции в нужном ассортименте и объеме, в установленный период, к установленному времени. 
												br
												h4(style="color: #8D909D") Основные обязанности:
												ol
													li Своевременное и качественное проведение погрузо-разгрузочных работ;
													li Прием, перемещение, складирование готовой продукции и других товарно-материальных ценностей;
													li Обеспечение сохранности готовой продукции по качеству и количеству;
													li Поддержание электропогрузчика в исправном состоянии;
													li Обеспечение соблюдения техники безопасности и внутренних регламентов Компании на складе;
													li Обеспечение чистоты и порядка на складе;
													li Взаимодействие с сотрудниками других подразделений.
												br
												h4(style="color: #8D909D") Условия:
												ul
													li Место работы-современно оборудованный склад
													li Достойная оплата труда, без задержек;
													li Оплачиваемая стажировка;
													li График работы: сменный, 2/2 с 8.00 до 20.00, высокая интенсивность труда
													li Работа в успешной, финансово-стабильной компании;
													li Дружный, активный, молодой коллектив;
													li Официальное трудоустройство;
													li Развитая корпоративная культура
													li Профессиональное  обучение и развитие;
													li Скидки на продукцию Компании;
													li Предоставление специальной одежды.
												br
												h4(style="color: #8D909D") Требования:
												ul
													li Опыт работы от 6 месяцев;
													li Обязательно наличие удостоверения на право управления автопогрузчиком.
											.vacancy-text__notice
												.vacancy-notice Если Вас заинтересовала данная вакансия, отправьте свое резюме с указанием названия вакансии на адрес: 
													a(href="mailto:")  rabota74@mail.ru

								.vacancy-one
									header.vacancy-one__title
										span.vacancy-one__title-text Водитель электропогрузчика
										button.vacancy-one__title-btn
									main.vacancy-one__body
										.vacancy-desc
											.vacancy-desc__item
												.vacancy-desc__item-title Уровень зарплаты
												.vacancy-desc__item-text от 40 000 до 100 000 Р
											.vacancy-desc__item
												.vacancy-desc__item-title Город
												.vacancy-desc__item-text Челябинск
											.vacancy-desc__item
												.vacancy-desc__item-title Тип занятости
												.vacancy-desc__item-text Полный рабочий день
										.vacancy-text
											.text-page
												p «Склад готовой продукции» входит структуру подразделения "производство".
												p Цель должности: своевременная отгрузка только качественной продукции в нужном ассортименте и объеме, в установленный период, к установленному времени. 
												br
												h4(style="color: #8D909D") Основные обязанности:
												ol
													li Своевременное и качественное проведение погрузо-разгрузочных работ;
													li Прием, перемещение, складирование готовой продукции и других товарно-материальных ценностей;
													li Обеспечение сохранности готовой продукции по качеству и количеству;
													li Поддержание электропогрузчика в исправном состоянии;
													li Обеспечение соблюдения техники безопасности и внутренних регламентов Компании на складе;
													li Обеспечение чистоты и порядка на складе;
													li Взаимодействие с сотрудниками других подразделений.
												br
												h4(style="color: #8D909D") Условия:
												ul
													li Место работы-современно оборудованный склад
													li Достойная оплата труда, без задержек;
													li Оплачиваемая стажировка;
													li График работы: сменный, 2/2 с 8.00 до 20.00, высокая интенсивность труда
													li Работа в успешной, финансово-стабильной компании;
													li Дружный, активный, молодой коллектив;
													li Официальное трудоустройство;
													li Развитая корпоративная культура
													li Профессиональное  обучение и развитие;
													li Скидки на продукцию Компании;
													li Предоставление специальной одежды.
												br
												h4(style="color: #8D909D") Требования:
												ul
													li Опыт работы от 6 месяцев;
													li Обязательно наличие удостоверения на право управления автопогрузчиком.
											.vacancy-text__notice
												.vacancy-notice Если Вас заинтересовала данная вакансия, отправьте свое резюме с указанием названия вакансии на адрес:  
													a(href="mailto:") rabota74@mail.ru
		include inc/footer.pug
		include inc/scripts.pug